@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Tilt Neon", cursive;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  background: url(./images/background.png) repeat,
    linear-gradient(210deg, #5a0273, #2d013a, rgba(0, 0, 0, 1));
  display: grid;
  place-content: center;
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  background-color: #5a0273;
  padding: 1rem;
  border: 2px solid #2d013a;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.3rem #1a0022;
}

/* header */

.header {
  margin-bottom: 1rem;
}

.display input {
  background-color: rgba(26, 0, 34, 0.5);
  border-radius: 1rem 1rem 0 0;
  border: 0.25px solid rgba(91, 2, 115, 0.25);
  color: white;
  font-weight: bold;
  height: 4rem;
  outline: none;
  padding-inline: 1rem;
  text-align: right;
  font-size: larger;
  width: auto;
}

/* buttons */

.row {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.row:nth-child(3) button {
  background-color: rgba(234, 234, 234, 0.95);
}

.row:nth-child(3) button:active {
  background-color: rgba(255, 255, 255, 0.75);
}

button {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 4rem;
  height: 3rem;
  border: 0.25px solid rgba(91, 2, 115, 0.25);
  color: #2d013a;
}

button:last-child {
  background-color: rgba(234, 234, 234, 0.95);
}

button:active {
  background-color: rgba(255, 255, 255, 0.75);
}

.radius:first-child {
  border-radius: 0 0 0 1rem;
}

.radius:last-child {
  border-radius: 0 0 1rem 0;
  background-color: #5bc9c8;
}

.radius:last-child:active {
  background-color: rgba(91, 201, 199, 0.85);
}

.fa-circle {
  font-size: 4px;
}
